@media (min-width:320px) {  
    .phone, .location, .mail {
        font-size: 9px;
    }
    
    label[for="menu"] {
        right: 10px;
    }

    .pr-sm{
        padding-right: 15px;
    }
    
    ul.mobile-view {
        width: 100%;
    }

    .btn-btn {
        display: flex;
    }

    .logo {
        font-size: 20px;
    }

    .nav-box {
        padding: 5px;
    }

    .btn {
        display: none !important;
    }

    .form {
        width: calc(100%);
    }

    .form-button {
        padding: 10px 18px;
        font-size: 14px;
    }

    .min-v-100 {
        min-height: 40vh;
    }

    .d-md-none1 {
        display: none !important;
    }

    .phone-center {
        margin-left: auto;
        margin-right: auto;
    }

    .main-head {
        font-size: 34px;
    }

    .main-para {
        font-size: 12px;
    }

    .mt-lg-24 {
        margin-top: 24px;
    }

    .mt-m-24 {
        margin-top: 30px;
    }

    .offer-text {
        font-size: 18px;
        max-width: calc(100%);
    }

    .price {
        font-size: 26px;
    }

    .real-price {
        font-size: 19px;
    }

    .btn-2 {
        font-size: 19px;
    }

    .mt-md-24 {
        margin-top: 24px;
    }

    .S5-box-head {
        font-size: 28px;
    }

    .S5-box-para {
        max-width: 100%;
        font-size: 18px;
    }

    .Red-box-para {
        max-width: 300px;
        font-size: 14px;
    }

    .t-commas {
        left: 0;
    }

    .b-commas {
        right: 0;
    }

    .py-48 {
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .item1 {
        grid-row: 1/2;
        grid-column: 1/2;
    }

    .item2 {
        grid-row: 2/3;
        grid-column: 1/2;
    }

    .item3 {
        grid-row: 3/4;
        grid-column: 1/2;
    }

    .item4 {
        grid-row: 4/5;
        grid-column: 1/2;
    }

    .item5 {
        grid-row: 5/7;
        grid-column: 1/2;
    }

    .mt-90 {
        margin-top: 45px;
    }

    .ml--50 {
        margin-left: 0;
    }

    .S3-img-text {
        font-size: 46px;
    }

    .btn-2 {
        font-size: 15px;
    }

    .price {
        font-size: 20px;
    }

    .real-price {
        font-size: 14px;
    }

    .S4-box-para {
        font-size: 16px;
    }

    .lines {
        display: none;
    }

    .btn1 {
        padding: 6px 18px;
        font-size: 16px;
    }

    .justify-content-s-between{
        justify-content: space-evenly !important;
    }
}

@media (min-width:395px) {
    .nav-box{
        padding: 8px;
    }
    
    .main-head{
        font-size: 44px;
    }

    .main-para{
        font-size: 14px;
    }
}

@media (min-width:576px) {  
    .btn1 {
        padding: 10px 28px;
        font-size: 20px;
    }    
    
    .main-head {
        font-size: 56px;
    }

    .main-para {
        font-size: 18px;
    }
    
    .nav-box{
        padding: 10px;
    }
    
    .phone, .location, .mail {
        font-size: 14px;
    }
    
    label[for="menu"] {
        right: 30px;
    }
    
    .S3-img-text {
        font-size: 58px;
    }

    .form {
        width: 380px;
    }

    .form-button {
        padding: 10px 37px;
        font-size: 18px;
    }

    .min-v-100 {
        min-height: 65vh;
    }

    .mt-m-24 {
        margin-top: 30px;
    }

    .offer-text {
        font-size: 18px;
        max-width: calc(100%);
    }

    .price {
        font-size: 28px;
    }

    .real-price {
        font-size: 20px;
    }

    .btn-2 {
        font-size: 20px;
    }

    .mt-md-24 {
        margin-top: 24px;
    }

    .S5-box-head {
        font-size: 28px;
    }

    .S5-box-para {
        max-width: 100%;
        font-size: 18px;
    }

    .Red-box-para {
        max-width: 300px;
        font-size: 14px;
    }

    .t-commas {
        left: 0;
    }

    .b-commas {
        right: 0;
    }

    .py-48 {
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .item1 {
        grid-row: 1/2;
        grid-column: 1/2;
    }

    .item2 {
        grid-row: 3/4;
        grid-column: 1/2;
    }

    .item3 {
        grid-row: 2/3;
        grid-column: 1/2;
    }

    .item4 {
        grid-row: 3/4;
        grid-column: 2/3;
    }

    .item5 {
        grid-row: 1/3;
        grid-column: 2/3;
    }

    .mt-90 {
        margin-top: 45px;
    }

    .ml--50 {
        margin-left: 0;
    }
}

@media (min-width:768px) {
    .logo{
        font-size: 28px;
    }
    
    label[for="menu"] {
        right: 20px;
    }
    
    ul.mobile-view {
        width: 50%;
    }

    .lines {
        display: block;
    }

    .ml--50 {
        margin-left: -50px;
    }

    .mt-90 {
        margin-top: 90px;
    }

    .py-48 {
        padding-top: 48px;
        padding-bottom: 48px;
    }

    .price {
        font-size: 24px;
    }

    .real-price {
        font-size: 15px;
    }

    .btn-2 {
        font-size: 17px;
    }

    .offer-text {
        font-size: 16px;
        max-width: 300px;
    }

    .mt-m-24 {
        margin-top: 0px;
    }

    .lines {
        left: 20%;
    }

    .main-head {
        font-size: 58px;
    }

    .S2-head {
        font-size: 28px;
    }

    .S2-para {
        font-size: 14px;
    }

    .mt-lg-24 {
        margin-top: 24px;
    }

    .S3-img-text {
        font-size: 75px;
    }

    .min-v-100 {
        min-height: 65vh;
    }

    .S4-box-head {
        font-size: 48px;
    }

    .S4-box-para {
        max-width: calc(100%);
        font-size: 18px;
    }

    .mt-md-24 {
        margin-top: 24px;
    }

    .S5-box-head {
        font-size: 40px;
    }

    .S5-box-para {
        font-size: 20px;
        max-width: calc(100%);
    }

    .S5-box-padding3 {
        padding-bottom: 40px;
    }

    .t-commas {
        left: 0;
    }

    .b-commas {
        right: 0;
    }

    .Red-box-para {
        max-width: 450px;
        font-size: 13px;
    }

    .Red-box-b-para {
        font-size: 20px;
    }
}

@media (min-width:992px) {  
    ul.mobile-view {
        width: 100%;
    }
    
    .btn-btn {
        display: none;
    }

    .btn {
        display: flex !important;
    }

    .phone-center {
        margin-left: 0;
        margin-right: 0;
    }

    .item1 {
        grid-row: 1/2;
        grid-column: 1/2;
    }

    .item2 {
        grid-row: 1/2;
        grid-column: 3/4;
    }

    .item3 {
        grid-row: 2/3;
        grid-column: 1/2;
    }

    .item4 {
        grid-row: 2/3;
        grid-column: 3/4;
    }

    .item5 {
        grid-row: 1/3;
        grid-column: 2/3;
    }

    .Red-box-b-para {
        font-size: 24px;
    }

    .S5-box-padding3 {
        padding-bottom: 79px;
    }

    .mt-md-24 {
        margin-top: 0;
    }

    .S2-head {
        font-size: 30px;
    }

    .S2-para {
        font-size: 17px;
    }

    .main-head {
        font-size: 64px;
    }

    .py-16 {
        padding-top: 0px;
        padding-bottom: 0;
    }

    .d-md-none1 {
        display: inline-block !important;
    }

    .logo {
        font-size: 24px;
    }

    .nav-links,
    .sub-links {
        font-size: 16px;
    }

    .btn {
        font-size: 16px;
        padding: 10px 21px;
    }

    .lines {
        left: 30%;
    }

    .jc-lg-center {
        margin-left: auto;
        margin-right: auto;
    }

    .mt-lg-24 {
        margin-top: 24px;
    }

    .S3-img-text {
        font-size: 68px;
    }

    .ml-lg-20 {
        margin-left: 20px;
    }

    .S4-box-head {
        font-size: 24px;
    }

    .S4-box-para {
        max-width: 458px;
        font-size: 14px;
    }

    .S4-box {
        padding: 50px 27px 50px 30px;
    }

    .S4-box-btn {
        font-size: 16px;
    }

    .S5-box-head {
        font-size: 22px;
    }

    .S5-box-para {
        font-size: 17px;
        max-width: 374px;
    }

    .Red-box-para {
        max-width: 650px;
        font-size: 13px;
    }

    .t-commas {
        left: 2%;
    }

    .b-commas {
        right: 2%;
    }

    .phone,
    .location,
    .mail {
        font-size: 13px;
    }

    .top-offer {
        font-size: 16px;
    }

    .min-v-100 {
        min-height: 75vh;
    }
}

@media (min-width:1200px) {
    .nav-links,
    .sub-links {
        font-size: 18px;
    }

    .btn {
        padding: 10px 32px;
        font-size: 18px;
        font-size: 18px;
    }

    .logo {
        font-size: 30px;
    }

    .min-v-100 {
        min-height: 100vh;
    }

    .top-offer {
        font-size: 18px;
    }

    .phone,
    .location,
    .mail {
        font-size: 14px;
    }

    .Red-box-para {
        max-width: 800px;
        font-size: 15px;
    }

    .S3-img-text {
        top: 22%;
        font-size: 54px;
    }

    .price {
        font-size: 22px;
    }

    .real-price {
        font-size: 15px;
    }

    .btn-2 {
        font-size: 16px;
    }

    .S4-box-head {
        font-size: 30px;
    }

    .S4-box-para {
        font-size: 16px;
    }

    .S4-box-btn {
        font-size: 18px;
    }

    .Red-box-para {
        font-size: 15px;
    }

    .t-commas {
        left: 3%;
    }

    .mt-lg-24 {
        margin-top: 0;
    }

    .ml-lg-20 {
        margin-left: 0px;
    }

    .S4-box {
        padding: 75px 27px 75px 30px;
    }

    .S5-box-head {
        font-size: 24px;
    }

    .S5-box-para {
        font-size: 17px;
    }

    .lines {
        left: 38%;
    }
}

@media (min-width:1400px) {
    .lines{
        left: 45%;
    }
}

@media (min-width:1500px) {
    .container {
        max-width: 1440px !important;
    }
}

@media (max-width:991px) {
    label[for="menu"] {
        height: 20px;
        width: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        position: relative;
        z-index: 6 !important;
    }

    label[for="menu"]>span {
        width: 100%;
        height: 3px;
        background-color: #9E3040;
        border-radius: 5px;
        z-index: 6 !important;
    }

    /* label[for="menu"]>.line1{
        rotate: 45deg;
    } */

    ul.mobile-view {
        height: 100%;
        /* width: 50%; */
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        right: -100%;
        top: 0%;
        position: fixed;
        transition: all 300ms linear;
        z-index: 5 !important;
        gap: 20px;
    }

    input[type="checkbox"]:checked+ul {
        right: 0;
        background: white;
    }
}