@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@400;600;700&family=Open+Sans&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none !important;
    list-style-type: none;
    box-sizing: border-box;
}

.pl-14 {
    padding-left: 14px;
}

.ml-48 {
    margin-left: 48px;
}

.bg-grey {
    background-color: #F7F7F7;
}

.py-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.nav-box {
    padding: 13px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.09);
}

.gap-20 {
    gap: 20px;
}

.pl-6 {
    padding-left: 6px;
}

.pt-10 {
    padding-top: 10px;
}

.mt--8 {
    margin-top: -8px;
}

.pt-6 {
    padding-top: 6px;
}

.mt-16 {
    margin-top: 16px;
}

.menu-button{
    right: 40px;
}

.btn {
    padding: 10px 32px;
    background-color: #9E3040;
    color: white;
    font-size: 18px;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: 1px solid transparent;
    transition: all 300ms linear;
}

.btn-btn {
    border: 1px solid transparent;
    padding: 10px 32px;
    background-color: #9E3040;
    color: white;
    font-size: 18px;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: none;
    border-radius: 5px;
    transition: all 300ms linear;
}

.hero-img {
    background-image: url("../images/hero-img.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.grow-1 {
    flex-grow: 1;
}

ul li {
    position: relative;
}

ul li ul.dropdown li {
    text-align: center;
    opacity: 1;
}

ul li ul.dropdown {
    padding-left: 10px;
    padding: 5px;
    background-color: #fff;
    width: 100%;
    z-index: 10;
    position: absolute;
    opacity: 0;
    left: 0;
}

.towel:focus+ul.dropdown {
    opacity: 1;
}

.towel:focus>.arrow {
    rotate: 180deg;
}

.towel {
    border: none;
    background-color: #fff;
}

.dropdown,
.arrow {
    transition: all 200ms linear;
}

.phone,
.location,
.mail {
    color: #232323;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.top-offer {
    color: #9E3040;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.logo {
    color: #9E3040;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.sub-links,
.nav-links {
    color: #686868;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.main-head {
    max-width: 460px;
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 117.1%;
}

.main-para {
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.btn1 {
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 10px 28px;
    background-color: #fff;
    color: #9E3040;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    transition: all 300ms linear;
}

.btn1-arrow {
    margin-left: 10px;
}

.pb-48 {
    padding-bottom: 48px;
}

.py-16 {
    padding-top: 16px;
    padding-bottom: 16px;
}

.py-48 {
    padding-top: 48px;
    padding-bottom: 48px;
}

.lines {
    top: 35%;
    left: 40%;
    z-index: -1;
    transform: translate(-50%, -50%);
}

.S2-head {
    color: #232323;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.S2-para {
    text-align: center;
    color: #303030;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.S3-head {
    color: #232323;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.grey-box {
    padding: 14px 14px 32px 14px;
    background-color: #F3F5F6;
    border-radius: 10px;
}

.grey-box1 {
    padding: 14px 14px 42px 14px;
    background-color: #F3F5F6;
    border-radius: 10px;
}

.pt-25 {
    padding-top: 25px;
}

.mt-22 {
    margin-top: 22px;
}

.del-text {
    text-decoration: line-through !important;
}

.mb--0 {
    margin-bottom: 0px;
}

.gap-14 {
    gap: 14px;
}

.offer-text {
    max-width: 300px;
    color: #232323;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.price {
    color: #9E3040;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.real-price {
    color: #686868;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.btn-2 {
    background-color: #232323;
    padding: 8px 31px;
    border-radius: 5px;
    border: none;
    color: #FFF;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    transition: all 300ms linear;
}

.S3-img-text {
    text-align: center;
    width: 100%;
    top: 24%;
    left: 50%;
    transform: translate(-50%, -20%);
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 58px;
    font-style: normal;
    font-weight: 600;
    line-height: 117.1%;
}

.mt-30 {
    margin-top: 30px;
}

.mt-13 {
    margin-top: 13px;
}

.mt-22 {
    margin-top: 22px;
}

.mt-11 {
    margin-top: 11px;
}

.S3-btn {
    padding: 10px 29px;
    color: #FFF;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background-color: #9E3040;
    border-radius: 5px;
    border: 1px solid transparent;
    transition: all 300ms linear;
}

.mt-90 {
    margin-top: 90px;
}

.S4-img {
    border-radius: 30px;
}

.S4-box {
    background-color: #F3F5F6;
    padding: 75px 27px 75px 30px;
}

.mt-40 {
    margin-top: 40px;
    border-radius: 40px;
}

.S4-box-head {
    color: #9E3040;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.S4-box-para {
    max-width: 458px;
    color: #232323;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.mt-21 {
    margin-top: 21px;
}

.S4-box-btn {
    padding: 10px 28px;
    color: #FFF;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: 1px solid transparent;
    background-color: #232323;
    border-radius: 5px;
    transition: all 300ms linear;
}

.S5-head {
    text-align: center;
    color: #232323;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.S5-img {
    border-radius: 10px;
}

.S5-box-head {
    color: #9E3040;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.S5-box-para {
    max-width: 374px;
    color: #303030;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.S5-box {
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.10);
}

.S5-box-padding1 {
    padding: 40px 18px;
}

.S5-box-padding2 {
    padding-top: 40px;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 33px;
}

.S5-box-padding3 {
    padding-top: 40px;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 79px;
}

.mt-5px {
    margin-top: 5px;
}

.mt-60 {
    margin-top: 60px;
}

.S5-btn {
    border-radius: 5px;
    color: #FFF;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 10px 28px;
    border: 1px solid transparent;
    transition: all 300ms linear;
    background-color: #9E3040;
}

.S6-head {
    text-align: center;
    color: #232323;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.mt-32 {
    margin-top: 32px;
}

.mt-26 {
    margin-top: 26px;
}

.Red-box {
    background-color: #9E3040;
    border-radius: 30px;
    padding: 30px 64px;
}

.Red-box-para {
    padding-top: 70px;
    max-width: 800px;
    color: #FFF;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Red-box-b-para {
    color: #FFF;
    text-align: center;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-bottom: 30px;
}

.t-commas {
    left: 5%;
    top: 10%;
}

.b-commas {
    right: 5%;
    bottom: 10%;
}

.S7-head {
    color: #232323;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.grid-box {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 30px;
}

.item1 {
    grid-row: 1/2;
    grid-column: 1/2;
}

.item2 {
    grid-row: 1/2;
    grid-column: 3/4;
}

.item3 {
    grid-row: 2/3;
    grid-column: 1/2;
}

.item4 {
    grid-row: 2/3;
    grid-column: 3/4;
}

.item5 {
    grid-row: 1/3;
    grid-column: 2/3;
}

.g-com {
    border-radius: 10px;
    overflow: hidden;
}

.S8-head {
    text-align: center;
    color: #232323;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.S8-para {
    max-width: 600px;
    color: #303030;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.mt-12 {
    margin-top: 12px;
}

.form {
    padding-left: 23px;
    border-radius: 5px;
    width: 380px;
    border: 1px solid #E2C1C6;
}

.form-button {
    border-radius: 5px;
    padding: 10px 37px;
    color: #FFF;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background-color: #9E3040;
    border: 1px solid transparent;
    transition: all 300ms linear;
}

.form-py {
    padding-top: 48px;
    padding-bottom: 100px;
}

.bg-grey {
    background-color: #F3F5F6;
}

.py-60 {
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-links {
    color: #303030;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.gap-25 {
    gap: 25px;
}

.mt-20 {
    margin-top: 20px;
}

.mb--24 {
    margin-bottom: -40px;
}

.ml-20 {
    margin-left: 20px;
}

.gap-30 {
    gap: 30px;
}

.ml-10 {
    margin-left: 10px;
}

.ml-17 {
    margin-left: 17px;
}

.my-29 {
    margin-top: 29px;
    margin-bottom: 29px;
}

.f-mail {
    width: 250px;
}

.mt-12 {
    margin-top: 12px;
}

.mx-12 {
    margin-left: 0px;
    margin-right: 0px;
}

.mb-location {
    margin-bottom: 35px;
}

.pl-32 {
    padding-left: 32px;
}

.footer-head {
    color: #232323;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.ml--50 {
    margin-left: -50px;
}

.mr--12 {
    margin-right: -12px;
}

.nav-links:hover {
    -webkit-text-stroke: 0.75px black;
}

.sub-links:hover {
    -webkit-text-stroke: 0.75px black;
}

.phone:hover,
.mail:hover,
.location:hover,
.footer-links:hover{
    -webkit-text-stroke: 1px black;
}

.g-com{
    transition: all 300ms linear;
    overflow: hidden;
}

.g-com>img {
    height: 100%;
    transition: all 250ms linear;
}

.g-com:hover>img {
    transform: scale(1.15);
}

.btn:hover,
.btn-btn:hover,
.S3-btn:hover,
.S5-btn:hover,
.form-button:hover{
    color: #9E3040;
    background-color: #fff;
    border: 1px solid #9E3040;
}

.btn-2:hover{
    color: #232323;
    background-color: white;
}

.btn1:hover{
    color: white;
    background-color: #9E3040;
    border: 1px solid #9E3040;
}

.btn1 path,
.S4-box-btn path{
    transition: 300ms all linear;
}

.btn1:hover path{
    fill: white;
}

.S4-box-btn:hover{
    color: #232323;
    background-color: white;
    border: 1px solid #232323;
}

.S4-box-btn:hover path{
    fill: #232323;
}

.menu-button{
    right: 0%;
    top: 45%;
}

.towel{
    background: transparent;
}